@font-face {
    font-family: yekanbakh;
    src: url('../fonts/yekanbakh/heavy.ttf');
  }


* {
	margin: 0;
	padding: 0;
    font-family: yekanbakh;

}

body {
	background: #fff;
  font-family: Lato,sans-serif;
  font-size:15px;
	overflow-x:hidden;
}

.offset-sm-3{
    width: 100%;
    background-color: rgb(212, 101, 101);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

form{
    position: relative;
}

.alert-success{
    width: 100%;
    background-color: rgb(121, 238, 156);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.alert-danger{
    width: 100%;
    background-color: rgb(212, 101, 101);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#menu {
	background: #384047;
	height: 60px;
	padding: 0 5px 0;
	text-align: center;
}
.navbar-header{
	 position: relative;
	 display: none;

}
.navbar-toggle{
	 float: right;
	  padding: 9px 10px;
	  margin-top: 8px;
	  margin-right: 15px;
	  margin-bottom: 8px;
	  background-color: transparent;
	  background-image: none;
	  border: 1px solid transparent;
	  border-radius: 4px;
	  cursor:pointer;
	  /*display: none;*/
}
#navbar{
	display: block;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
ul {
	list-style: none;
}

ul li {
	display: inline;
	width: 90px;
    margin: 30px;
	text-align: center;
}

ul li a {
	color: #fff;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
    font-size: 13px;
}

ul li.active {
	background: #fff;
}

ul li.active a {
	color: #384047;
}

select {
	width: 94%;
	margin: 11px  0 11px 2%;
	float: left;
}

h1 {
	margin: 40px 0 10px;
	text-align: center;
	color: #384047;
}
p {
	text-align: center;
	color: #777;
}

.google-btn{
    padding: 15px;
    color: rgb(0, 0, 0);
    background-color: #b1b1b1;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #5a5a5a;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 100px;
    text-decoration: none;
}
.magic-btN{
    padding: 15px;
    color: rgb(0, 0, 0);
    background-color: #b1b1b1;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 45%;
    border: 1px solid #5a5a5a;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-top: 11px ;
    text-decoration: none;
    position: absolute;
    left: 20px;
}

.user-name{
    color: #6ee993;
}

.logout-btn{
    color:rgb(207, 64, 64) ;
}

.container-two-factor{
    width:40%;
    background-color: #dddbdb;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.active-btn{
    color: #FFF;
    background-color: #4bc970;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 20%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin: 10px;
}

.confirm-btn{
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    text-decoration: none;
}
.not-give-dode{
    text-decoration: none;
    color:rgb(150, 46, 46) ;
}

h2{
    color: rgb(17, 170, 63);
}
/** Start Coding Here **/

/**
Modify CSS to hide links on small width and show button and select
Also hides select and button on larger width and show's links
**/

@media only screen and (max-width: 767px) {

	.navbar-header{
		display: block;
	}
	.navbar-header:after{
		content:"";
		display: table;
		clear:both;
	}
	a,p{
	line-height: initial;

	}
	#navbar{
		width:100%;
		background:#000;
		position: relative;
		top: 12px;
	    left: -7px;
	    display: none;
	}
	#menu {
			width:100%;
			display: block;
			font-size:1.25em;
			text-align: center;
		}
	/*	#navbar.js {
			display: none;
		}*/
		ul {
			width:100%;
			list-style:none;
		}
		ul:after{
			content: "";
			display: table;
			clear: both;
		}
		li {
			width:100%;
			border-right:none;
		}

		#menu .nav li {
		    display:block;
		    width:100%;
		    float:none;
		    padding: 10px;
		    border-radius: 0px;
		    border-bottom: 1px solid #eee;

		  }
		ul li a {
			line-height: 20px;
		}

}
body {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-data td img {
    height: 90px;
    width: auto;
    border-radius: 0;
    object-fit: contain;
  }

  .table-users .header {
    background-color: #65bce7;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  .table-users table tr:first-child {
    font-size: 1.1em;
  }

  .table-users img {
    height: 60px;
    width: 60px;
  }

  .table-users th,
  .table-users td,
  .table-users tr,
  .table-users table {
    font-weight: bold !important;
  }

  .table-users {
    border: 1px solid #327a81;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 900px;
  }

  .table-users table {
    width: 100%;
  }

  .table-users table td,
  .table-users table th {
    color: #101010;
    padding: 10px;
  }

  .table-users table td {
    text-align: center;
    vertical-align: middle;
  }

  .table-users table th {
    background-color: #daeff1;
  }

  .table-users table tr:nth-child(2n) {
    background-color: white;
  }

  .table-users table tr:nth-child(2n + 1) {
    background-color: #edf7f8;
  }

  /* set table header to a fixed position. WinIE 6.x only                                       */

  /* In WinIE 6.x, any element with a position property set to relative and is a child of       */

  /* an element that has an overflow property set, the relative value translates into fixed.    */

  /* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */

  thead.fixedHeader tr {
    position: relative;
  }

  /* set THEAD element to have block level attributes. All other non-IE browsers            */

  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */

  html > body thead.fixedHeader {
    display: block;
  }

  /* define the table content to be scrollable                                              */

  /* set TBODY element to have block level attributes. All other non-IE browsers            */

  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */

  /* induced side effect is that child TDs no longer accept width: auto                     */

  html > body tbody {
    display: block;
    height: 60vh;
    overflow: auto;
    width: 100%;
  }

  @media (min-width: 769px) {
    .table-users td,
    .table-users table th {
      width: 128.57px !important;
    }
  }

  @media screen and (max-width: 768px) {
    .table-users table,
    .table-users tr,
    .table-users td {
      display: block;
    }

    .table-users td:not(:first-child):before {
      color: #000;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      font-weight: bolder;
    }
    .table-users td:nth-child(3):before {
      content: "# of printed units in one batch:";
    }
    .table-users td:nth-child(4):before {
      content: "PCB height in mm:";
    }
    .table-users td:nth-child(5):before {
      content: "# of layers:";
    }
    .table-users td:nth-child(6):before {
      content: "PCB Size in mm:";
    }
    .table-users td:nth-child(7):before {
      content: "Time:";
    }
    .table-users tr {
      padding: 10px 0;
      position: relative;
    }
    .table-users thead th {
      font-size: 14px;
      padding: 2px;
    }
    html > body tbody {
      height: auto;
    }
  }

  @media screen and (max-width: 768px) {
    thead.fixedHeader tr {
      position: relative;
      display: none;
    }
    .table-users .header {
      color: #fff;
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
    .table-users img {
      border: 3px solid;
      border-color: #daeff1;
      height: 100px;
      margin: 0.5rem 0;
      width: 100px;
    }
    .table-users td:first-child {
      background-color: #c8e7ea;
      border-bottom: 1px solid #91ced4;
      border-radius: 10px 10px 0 0;
      position: relative;
      top: 0;
      transform: translateY(0);
      width: 100%;
    }
    .table-users td:not(:first-child) {
      margin: 0;
      padding: 5px 1em;
      width: 100%;
    }
    .table-users td:not(:first-child):before {
      font-size: 0.8em;
      padding-top: 0.3em;
      position: relative;
    }
    .table-users td:last-child {
      padding-bottom: 1rem;
    }
    .table-users tr {
      background-color: white;
      border: 1px solid #6cbec6;
      border-radius: 10px;
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      margin: 0.5rem 0;
      padding: 0;
    }
    .table-users {
      border: none;
      box-shadow: none;
      overflow: visible;
    }
  }
